body {
    margin: 0;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#musicxml {
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: scroll;
    display: block;
}

#musicMain {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
}



.ctrbutton {
    position: absolute;
    background-color: #222F50;
    border: 0;
    width: 30%;
    height: 80%;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    bottom: 5%;
}

#startRecord {
    left: 15%;
}

#stopRecord {
    left: 55%;
}